/* Important note: I took this from online tutorial 
The link is here: https://www.youtube.com/watch?v=ZwFA3YMfkoc&ab_channel=JavaScriptMastery */

.ownerMessageBox {
  border-radius: 20px;
  padding-top: 2%;
  padding-left: 2%;
  padding-right: 2%;
  background: #0f81df;
  display: inline-block;
  max-width: 40%;
  overflow-x: hidden
}

.userMessageBox {
  border-radius: 20px;
  padding-top: 2%;
  padding-left: 2%;
  padding-right: 2%;
  background: #F3F3F3;
  display: inline-block;
  max-width: 40%;
  overflow-x: hidden
}

.ownerMessageText {
  width: 100%;
  letter-spacing: 0;
  float: left;
  font-size: 1.1em;
  word-wrap: break-word;
  margin-bottom: 1.2rem;
  color: white;
}

.userMessageText {
  width: 100%;
  letter-spacing: 0;
  float: left;
  font-size: 1.1em;
  word-wrap: break-word;
  margin-bottom: 1.2rem;
  color: black;
}

.messageContainerRight {
  display: flex;
  padding-left: 0%;
  margin-top: 3px;
  margin-right: 5%;
  width: 100%;
  justify-content: flex-end;
}

.messageContainerLeft {
  display: flex;
  padding-left: 0%;
  margin-top: 3px;
  margin-right: 5%;
  width: 100%;
  justify-content: flex-start;
}

.rightEndedText{
  display: flex;
  align-items: center;
  color: #7e7979;
  letter-spacing: 0.2px;
  padding-right: 10px;
  font-size: 1.3vw;
}

.leftEndedText{
  display: flex;
  align-items: center;
  color: #7e7979;
  letter-spacing: 0.2px;
  padding-left: 10px;
  font-size: 1.3vw;
}

@media (min-width: 0px) and (max-width: 760px) {
  .ownerMessageBox {
    border-radius: 20px;
    padding-top: 2%;
    padding-left: 2%;
    padding-right: 2%;
    background: #0f81df;
    display: inline-block;
    max-width: 80%;
    overflow-x: hidden
  }
  
  .userMessageBox {
    border-radius: 20px;
    padding-top: 2%;
    padding-left: 2%;
    padding-right: 2%;
    background: #F3F3F3;
    display: inline-block;
    max-width: 80%;
    overflow-x: hidden
  }
}

