/* Important note: I took this from online tutorial 
The link is here: https://www.youtube.com/watch?v=ZwFA3YMfkoc&ab_channel=JavaScriptMastery */

.messageBox {
  border-radius: 20px;
  padding-top: 2%;
  padding-left: 2%;
  padding-right: 2%;
  color: white;
  display: inline-block;
  max-width: 40%;
  overflow-x: hidden
}

.messageText {
  width: 100%;
  letter-spacing: 0;
  float: left;
  font-size: 1.1em;
  word-wrap: break-word;
  margin-bottom: 1.2rem;
}

.messageContainer {
  display: flex;
  justify-content: flex-end;
  padding-left: 0%;
  margin-top: 3px;
  margin-right: 5%;
  width: 100%;
  /* max-width: 100%;
  overflow-x: hidden; */
}

.sentText {
  display: flex;
  align-items: center;
  color: #7e7979;
  letter-spacing: 0.2px;
}

.padding-left {
  padding-left: 10px;
}

.padding-right {
  padding-right: 10px;
}

.justifyStart {
  justify-content: flex-start;
}

.justifyEnd {
  justify-content: flex-end;
}

.white {
  color: white;
}

.black {
  color: black;
}

.backgroundBlue {
  background: #0f81df;
}

.backgroundLight {
  background: #F3F3F3;
}
