/* Important note: I took this from online tutorial 
The link is here: https://www.youtube.com/watch?v=ZwFA3YMfkoc&ab_channel=JavaScriptMastery 
I made of mild changes only...*/

.form {
  margin-top: 2%;
  margin-bottom: 2%;
  display: flex;
  border-top: 5px solid rgba(0, 0, 0, 0.1);
}

input {
  border: none;
  border-radius: 0;
  padding: 5%;
  width: 80%;
  font-size: 1.2em;
}

.sendButton {
  color: #fff !important;
  text-transform: uppercase;
  background: #0f81df;
  display: inline-block;
  border: none;
  width: 20%;
  margin-top: 2%;
}