/* Important note: I took this from online tutorial 
The link is here: https://www.youtube.com/watch?v=ZwFA3YMfkoc&ab_channel=JavaScriptMastery 
But again... I made quite a bit changes here compare to the original */

.TopBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #0f81df;
  border-radius: 25px;
  height: 15%;
  width: 100%;
  margin-top: 1%;
  margin-bottom: 1%;
  padding-top: 2%;
  padding-left: 5%;
}

